html{
    height: 100%;
  }
  
  body{
    background-color: rgb(84, 57, 94);
  }
  header{
    background-color: #230844;
    border: 1px solid black;
  }
  h1{
    font-size: xx-large;
    padding:10px;
    text-align: center;
    font-weight: bold;
  }
  aside{
    /* width:33%; */
    height:600px;
    background-color: #c195c2;
  }
  div{
    /* width:33%; */
    height:600px;
    background-color: #709e9a;
  }
  section{
    /* width: 33%; */
    height:600px;
    background-color: #c69bc7;
  }
  li{
    font-size: larger;
    font-weight: bold;
    padding:5px;
  }
  h2{
    font-size: larger;
    font-weight: bold;
    padding:10px;
    text-align: center;
  }
  p{
    font-size: large;
    padding:5px;
  }
  h3{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
  }
  footer{
    background-color:#21162e;
    text-align: center;
    padding:10px;
    color:white;
  }